[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git 
[submodule "external/KDTree"]
	path = external/KDTree
	url = https://github.com/mentalAdventurer/KDTree.git 
[submodule "external/matplotplusplus"]
	path = external/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus/
